
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
  
  <div class="jumbotron text-center">
    <h1>Mission to Mars</h1>
    <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
  </div>

    <div class="container-fluid" id="scraped-data">
      <div class="row no-gutter">
        <div class="card-body">
          <h2 class="card-title" id="font">Latest Mars News</h2>
          <h6 class="card-subtitle mb-2 " id="font">{{ mars.news_title }}</h6>
          <p>{{mars.news_paragraph }}</p>
        </div>
      </div>
    </div>
    <div class="row" id="mars-featured-image">
      <div class="col-md-6">
        <h2>Featured Mars Image</h2>
        <figure class="figure">
        <!-- if images is False/None/non-existent, then default to error message -->
        <img class="card-img-bottom" src="{{mars.featured_image}}" alt="Featured Mars Image">
        </figure>
      </div>

      <div class="col-md-4">
        <!-- Mars Facts -->
        <div class="row" id="mars-facts">
          <h4>Mars Facts</h4>
          <table class="table table-striped">
            {{ mars.table | safe }}
          </table>
        </div>
      </div>
  </div>

<div>
  <h2><center>Mars Hemispheres</center></h2>
  <hr>
</div>
 
<div class="row">
  
  <div class="col-md-2">
    <img class="card-img-top img-thumbnail" src="{{mars.hemispheres_image_url[0]}}" alt="Card image cap">
    <h4 class="card-title">{{mars.hemispheres_image_title[0]}}</h4>
  </div>
  
  <div class="col-md-2">
    <img class="card-img-top img-thumbnail" src="{{mars.hemispheres_image_url[1]}}" alt="Card image cap">
    <h4 class="card-title">{{mars.hemispheres_image_title[1]}}</h4>

  </div>
  <div class="col-md-2">
    <img class="card-img-top img-thumbnail" src="{{mars.hemispheres_image_url[2]}}" alt="Card image cap">
    <h4 class="card-title">{{mars.hemispheres_image_title[2]}}</h4>
  </div>
  
  <div class="col-md-2">
    <img class="card-img-top img-thumbnail" src="{{mars.hemispheres_image_url[3]}}" alt="Card image cap">
    <h4 class="card-title">{{mars.hemispheres_image_title[3]}}</h4>

  </div>
</div>

</body>
</html>